﻿@model Bascket

<h3>Корзина</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Блюда в корзине
            </th>
            <th>
                Колличество блюд
            </th>
            <th>
                Общая сумма
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Dishes.Count() > 0)
        {
            <tr>
                <td>
                    @foreach (Dish d in Model.Dishes)
                    {
                        @d.Name
                    }
                </td>
                <td>
                    @Model.Dishes.Count()
                </td>
                <td>
                    @(Model.Dishes.Sum(x => x.Price) / Model.Dishes.Count());
                </td>
            </tr>
        }
    </tbody>
</table>
