﻿@model lub62.Models.BascketOfRestaurantViewModel


<table class="table">
    <tbody>
        <tr>
            <td>
                @Model.Restaurant.Name
            </td>
            <td>
                <img src="~/@Model.Restaurant.Foto" width="100" height="100" />
            </td>
            <td>
                @Model.Restaurant.Info
            </td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                Название блюда
            </th>
            <th>
                Цена
            </th>
            <th>
                Информация
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Dish d in ViewBag.dishesInRestaurant)
        {
            <tr>
                <td>
                    @d.Name
                </td>
                <td>
                    @d.Price
                </td>
                <td>
                    @d.Info
                </td>
                <td>
                    <input type="button" onclick="CreateBascket('@d.Id','@Model.Restaurant.Id',@Model.Bascket.Id)" value="Добавить в корзину" />
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>Корзина</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Блюда в корзине
            </th>
            <th>
                Колличество блюд
            </th>
            <th>
                Общая сумма
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Bascket.Dishes.Count()>0)
        { <tr>
                <td>
                    @foreach (Dish d in Model.Bascket.Dishes)
                    {
                        @d.Name
                    }
                </td>
                <td>
                    @Model.Bascket.Dishes.Count()
                </td>
                <td>
                    @(Model.Bascket.Dishes.Sum(x => x.Price) / Model.Bascket.Dishes.Count());
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function CreateBascket(dishId, restaurantId, bascketId)
    {
            $.ajax({
                url: '@Url.Action("CreateBascket", "Basckets")',
                type: 'POST',
                data: { 'dishId': dishId, 'restaurantId': restaurantId, 'bascketId': bascketId},
                success: ('ok'),
                error: console.log('ошибка')
                });
    }
</script>