﻿@model IEnumerable<lub62.Models.Restaurant>

<h2>Рестораны</h2>

{
<table class="table">
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="IndexOneRestourant" asp-controller="Restaurant" asp-route-name="@item.Name">@item.Name</a>
                </td>
                <td>
                    <img src="~/@item.Foto" width="100" height="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Info)
                </td>
            </tr>

        }
    </tbody>
</table>